:root{
    ---text-color: white;
    ---background-color:rgb(65, 161, 255);
}
.join-tg-tw-head a:last-child{
    width: 100px;
    border-radius: 50px;
    line-height: 35px;
    color: var(---text-color);
    background: var(---background-color);
}